* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-size: cover;
  background: -webkit-linear-gradient(90deg, #afd9f7, #f0f2ff);
  background: linear-gradient(90deg, #afd9f7, #f0f2ff);
}

.container {
  position: relative;
  max-width: 800px;
  height: 100vh;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.container h1 {
  display: flex;
  align-items: center;
  color: white;
  font-size: 70px;
  letter-spacing: 1px;
  margin-left: 50px;
  margin-top: 0;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.container h1 img {
  width: 300px;
}
.container .addTask {
  width: 90%;
  display: flex;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.container .addTask > input[type=text] {
  width: 90%;
  color: #333;
  border: none;
  border-bottom: 2px solid #666;
  background: none;
  padding: 10px;
  font-size: 22px;
  outline: none;
}
.container .addTask > input[type=text]:hover {
  border-bottom: 2px solid #2f4f4f;
}
.container .addTask button {
  margin: 0 10px;
  background: #708090;
  color: #fff;
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.container .addTask button:hover {
  background-color: #2f4f4f;
  box-shadow: 0px 15px 20px rgb(112, 128, 144);
  color: #fff;
  transform: translateY(-7px);
}
.container .notCompleted .Completed {
  margin: 5px 0;
  padding: 20px;
}
.container h3 {
  font-size: 30px;
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  margin-bottom: 30px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
.container ol {
  list-style: none;
  counter-reset: my-counter;
}
.container ol li {
  width: 100%;
  padding: 18px;
  margin: 5px 0;
  background: -webkit-linear-gradient(90deg, #91b2d5, #be9ba1);
  background: linear-gradient(90deg, #91b2d5, #be9ba1);
  font-size: 22px;
  color: white;
  counter-increment: my-counter;
}
.container ol.Completed li {
  background: -webkit-linear-gradient(90deg, #576284, #b770a0);
  background: linear-gradient(90deg, #576284, #b770a0);
}
.container ol li::before {
  content: counter(my-counter);
  background: #2f4f4f;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  color: white;
  margin-right: 0.5rem;
}
.container li button {
  float: right;
  padding: 5px;
  font-size: 28px;
  line-height: 28px;
  margin-right: 15px;
  background-color: transparent;
  border: none;
  color: white;
}/*# sourceMappingURL=main.css.map */